/* Estilos padrão */

body {
    font-family: 'Lato', Arial, sans-serif;

    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f4f4;
    color: #333;
    background-image: url("fundo.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}

header {
    background: linear-gradient(to right, #ff6b6b, #b719f5, #48c6ef);
    color: white;
    text-align: center;
    padding: 1px 0;
}

header h1 {

 
    color: #ffffff;
    font-family: 'Lato', Arial, sans-serif;

    font-size: 60px;
}



h2{
    font-size: 90px;
}

.main1 {
    width: 100%;
}

main {
    flex: 1;
    padding: 2em;
    background-color: ;
    margin: 1em auto;
    width: 99%;
    max-width: 1600px; /* Ajuste a largura máxima conforme desejado */

}

p{
    font-size: 33px;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    padding-top: 42px;
}

.filter-section {
    margin-bottom: 2em;
    text-align: center;
    max-width: 600px; /* Defina o tamanho máximo desejado */
    margin: 0 auto; /* Alinhe centralmente */
    margin-bottom: 30px;
    background: linear-gradient(to right, #2196F3, #FF4081, #4CAF50); /* Gradiente de exemplo */
    padding: 20px; /* Adiciona um espaço interno */
    border-radius: 10px; /* Adiciona cantos arredondados */
    color: white; /* Cor do texto */
}

.information-section p {
    font-size: 70px; /* Defina o tamanho do texto conforme desejado */
    line-height: 1.6; /* Ajusta o espaçamento entre linhas */
    margin-bottom: 20px; /* Ajusta a margem inferior */
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}

.filter-section label {
    font-weight: bold;
    margin-right: 1em;
    font-size: 30px;
}

.image-container {
    display: flex;
    flex-direction: column; /* Organiza os itens em uma coluna */
    align-items: center; /* Centraliza os itens horizontalmente */
}

.image-item {
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    margin: 1em auto;
    max-width: 90%;
}

.image-item img {
    width: 30%; /* Reduzindo a largura da imagem */
    height: auto;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.image-item .image-text {
    width: 50%;
    padding: 1em 1em;
}

.image-item .image-text p {
    font-size: 50px;
    margin-bottom: 3em;
    justify-content: center;
}

.image-item .image-text .styled-button {
    font-size: 30px;
    padding: 2em 1em;
    margin-top: 40px; /* Adiciona margem superior para separar do texto */
}

.image-item img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.image-item img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.image-item img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

footer {
    background: linear-gradient(to right, #ff6b6b, #b719f5, #48c6ef);
    color: white;
    text-align: center;
    padding: 1em 0;
    margin-top: auto;
    font-size: 20px;
    font-weight:bold ;
}

a {
    color: #800080;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Estilizando as options */
select {
    padding: 0.5em;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    background-color: white;
    transition: border-color 0.3s;
}

.exemplos{
    font-weight: bold;
    color: #f1f1f1;
    font-size: 70px;
    background: linear-gradient(to right, #ff6b6b, #b719f5, #48c6ef);
    width: 50%; /* Defina o tamanho desejado */
    height: 50%; /* Defina o tamanho desejado */
    border-radius: 15px;
    padding: 10px;

}


select:hover,
select:focus {
    border-color: #4CAF50;
}

option {
    font-size: 16px;
}

/* Estilizando as options quando o mouse passa sobre elas */
option:hover {
    background-color: pink;
}

/* Estilos para diferentes filtros de daltonismo */
/* Estilos para diferentes filtros de daltonismo */
.filter-image.achromatomaly {
    filter: grayscale(100%);
}

.filter-image.deuteranomaly {
    filter: grayscale(75%) sepia(100%) hue-rotate(45deg);
}

.filter-image.tritanomaly {
    filter: sepia(35%) saturate(100%);
}

.daltonism-image.achromatomaly {
    filter: grayscale(100%);
}

.daltonism-image.deuteranomaly {
    filter: grayscale(75%) sepia(100%) hue-rotate(45deg);
}

.daltonism-image.tritanomaly {
    filter: sepia(35%) saturate(100%);
}


.information-section {
    text-align: justify;
    margin-bottom: 2em;
}

.information-section h2 {
    font-size: 65px;
    background: linear-gradient(to right, #2196F3, #FF4081, #4CAF50, #FFEB3B);
    font-style: ;
    line-height: 1;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradientAnimation 10s linear infinite;
    background-size: 400% 100%;

}
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.information-section p {
    font-size: 27px;
    line-height: 1.4;
    margin-bottom: 4px;
    padding-left: 80px; /* Ajuste o valor conforme desejado */
    padding-right: 80px; /* Adiciona margem lateral direita */
    text-align: justify;
}



.daltonism-image {
    width: 100%;
    max-width: 100%; /* Ajuste conforme desejado */
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.daltonism-image:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* Media queries para tornar o site responsivo */

/* Media queries para tornar o site responsivo em diferentes tamanhos de tela */

/* Para telas menores que 768px */
/* Estilos para o scrollbar com gradiente */
/* Track */
/* Track */
/* Track */
::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Cor de fundo do track */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #800080; /* Cor do thumb */
    border: 3px solid #f1f1f1; /* Adiciona uma borda ao thumb */
    border-radius: 10px; /* Arredonda as bordas do thumb */
}



.styled-button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background: linear-gradient(45deg, #ff6b6b, #b719f5, #48c6ef);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
    background-size: 200% 200%;
    animation: gradientAnimation 5s ease infinite;
    margin-top: 10px;
}
.referencias {
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
    font-style: italic;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}


.styled-button:hover {
    transform: scale(1.05);
}

.styled-button:active {
    transform: scale(0.95);
}



@media screen and (max-width: 768px) {
    header h1 {
        font-size: 40px;
    }

    .image-item {
        max-width: 100%;
    }
}

/* Para telas menores que 576px */
@media screen and (max-width: 576px) {
    header h1 {
        font-size: 30px;
    }

    main {
        padding: 1em;
    }

    .filter-section label {
        font-size: 14px;
    }

    .image-item {
        max-width: 100%;
    }
}
